body {
    font-family: 'Open Sans', sans-serif!important;
    font-size: 16px;
    font-weight: 300;
    overflow-x: hidden;
}
h1{
   font-size: 45px;
}
.navbar{
background-image: linear-gradient(179deg, #05D3FD 0%, #02A8F9 100%);
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
}
.navbar-dark .navbar-toggler {
    color: rgb(255 255 255);
    border-color: rgba(255, 255, 255, 0);
}
.container.hero{
    background-image: url(images/hero-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 740px;
    max-width: 100%;
    padding: 0 40px;
    position: relative;
}
.container .cta{
    position: absolute;
    top: 45%;
    transform: translateY(-45%);
    max-width: 560px;
    background-color: rgba(0, 0, 0, 0.363);
    height: 270px;
    display: block;
    background: rgba(0, 0, 0, 0.4);
    padding: 30px;
    border-radius: 10px;
    position: relative;
}
.container .cta h1{
    color: white;
}
.container .cta .btn{
    background-color:#02A8F9;
}
@media only screen and (max-width: 768px) {
    .container.hero {
        padding: 0 10px;
        height: 576px;
}
}
.content .col-md-4 img{
    border-radius: 10px;
    box-shadow: 10px 10px 20px -4px rgb(0 0 0 / 30%);
}
h1{
    color: #5C5C5C;
}
p{
    color: #666666;
    font-weight: 500;
}
.features .feature-image {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 40px;
}
.features .feature-image img {
    max-width: 146px;
    max-height: 146px;
}
.features p {
    color: rgba(0, 0, 0, 0.3);
}
.signup p{
    color: #5C5C5C;
    line-height: 30px;
}
.signup label {
    display: block;
    font-size: 20px;
    font-weight: 400;
}
.signup input[type=submit]{
    background: #02A8F9;
    border-radius: 4px;
    border: none;
    padding: 14px 26px;
    color: white;
    font-weight: 600;
    font-size: 1em;
    outline: none;
}
footer{
    background-color: #4D4D4D;
    color: #C2C2C2;
    font-size: 14px;
}
footer a{
    color: #C2C2C2;
    font-size: 14px;
    text-decoration: none;
}
footer .icons img{
    width: 24px;
}